@namespace s 'urn:x-suika-fam-cx:markup:slide:1';
@namespace h1 'http://www.w3.org/1999/xhtml';
@namespace h 'http://www.w3.org/2002/06/xhtml2';

h|head + s|slide {
	/*-moz-binding: url(slide-xbl.xml#slideshow);*/
}

s|slide {
	min-width: 15em; width: 15em; max-width: 15em;
	min-height: 10em; height: 10em; max-height: 10em;
	margin: 1em;
	border: groove 2px gray;
	font-size: 8px;
}
