
/* s|slides */
slides {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: 0;
	border-width: 0;
	padding: 0;
	font-family: "MS Gothic", "Arial", sans-serif;
	behavior: url(../implementation/slide-show-winie-slides.htc);
}

/* s|slide */
slide {
	width: 100%;
	height: 90%;
	margin: 1em;
	border: groove 2px gray;
	font-size: 200%;
}
