    @namespace s 'urn:x-suika-fam-cx:markup:slide:1';
    @namespace h1 'http://www.w3.org/1999/xhtml';
    @namespace h 'http://www.w3.org/2002/06/xhtml2';
    
    h|head + s|slide {
      -moz-binding: url(slide-xbl.xml#slideshow);
    }
    
    s|slide {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      overflow: hidden;
	font-size: 40px;
	line-height: 1.8 !important;
    }
    
    s|slide[s|isCurrentSlide='yes'] {
      /* display: block; */
    }
    s|slide[s|isCurrentSlide='no'] {
      display: none;
    }

h|h {
	margin-bottom: 15px;
	line-height: 1.2;
}
