Redirect 302 /www/markup/slide/doc/hsml-intro.ja.xml http://suika.fam.cx/www/markup/slide/doc/hsml-intro-20050423.ja.xml
Redirect 302 /www/markup/slide/doc/hsml-intro http://suika.fam.cx/www/markup/slide/doc/hsml-intro-20050423
